
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
body {
  background: #4ACDDE;
  background: linear-gradient(135deg, #4EFFDF, #48BBDE, #F47EC6);
  font-family: Source Sans Pro, sans-serif;
}

p, a, li {
  color: white;
}

h1 {
  font-size: 9.25714vh;
  line-height: 9.25714vh;
  font-weight: 300;
  color: white;
}

p {
  line-height: 1.4;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

body {

}



.inspect-element {
/*   padding: 0 15px; */
border: 15px solid rgba(255, 255, 0, 0.35);
    background: rgba(0, 109, 204, 0.35);
/*   background: rgba(255, 127, 0, 0.4); */
}
.row:first-child > .inspect-element {
/*   background: #265d8c; */
/*   background: rgba(0, 109, 204, 0.4); */
  border-top: 0px;
}
/* 
@media (max-width: 815px) {  
  .inspect-element .col-md-10 {
    background: rgb(0, 109, 204);
  }
  .inspect-element {
    padding: 0 15px;
    background:red;
  }

} */



/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 104%;
/*   left: 50%; */
  right: 0%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 0 2px;
/*   width: 160px; */
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size:10px;
  
  background-color: #000;
  background-color: beige;
  border: 1px solid gray;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
/*   line-height: 1.2; */
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  z-index:3;
  position: absolute;
  bottom: 104%;
  right: 6%;
  margin-left: -5px;
  width: 0;
  border-top: 6px solid beige;
/*   border-top: 5px solid hsla(0, 0%, 20%, 0.9); */
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}